*{
  margin: 0;
  padding: 0;
}
body{
  font-family: sans-serif;
  user-select: none;
}
#res-splash{
  position: fixed;
  background: black;
  width: 100%;
  height: 100vh;
}
#res-splash .spinner{
  position: relative;
  height: 70px;
  width: 70px;
  margin: auto;
  top: 45%;
  border: 7px solid white;
  border-top: 7px solid #3498db;
  box-sizing: border-box;
  border-radius: 50%;
  animation: 2s loadSpinner infinite;
}
#res-main{
  display: none;
}
.res-nav{
  background: #e0e0e0;
  box-sizing: border-box;
  border-bottom: 1px solid black;
  text-align: center;
  height: 70px;
}
.res-nav-logo-xpert{
  float: left;
  font-size: 20px;
  font-family: 'Inter';
  margin: 22px 45px;
}
.res-nav-logo-xpert a{
  text-decoration: none;
  color: rgb(255, 0, 0);
}
.res-nav ul{
  display: inline-flex;
}
.res-nav ul li{
  list-style: none;
  margin: 25px 50px;
}
.res-nav ul li a{
  text-decoration: none;
  font-size: 15px;
  font-weight: 800;
  font-family: 'Montserrat';
  color: #000;
  border-radius: 5px;
  padding: 8px;
}
.res-nav ul li a.active{
  background: #bdbdbd;
}
#res-nav-res-mob{
  background: #e7e7e7;
  border-bottom: 1px solid black;
  display: none;
  transition: 1s;
}
#res-nav-res-mob ul{
  display: flex;
  flex-direction: column;
}
#res-nav-res-mob ul li{
  margin: 20px 35px;
  list-style: none;
}
#res-nav-res-mob ul li a{
  text-decoration: none;
  font-family: 'Inter';
  border-radius: 5px;
  padding: 10px;
  color: black;
}
.res-nav-toggle-btn{
  position: absolute;
  border: 2px solid black;
  top: 14px;
  right: 4%;
  background: #000000;
  border-radius: 5px;
  padding: 10px;
  visibility: hidden;
  cursor: pointer;
}
.uc-1{
  display: block;
  margin-bottom: 2px;
  background: #000000;
  height: 5px;
  width: 28px;
  border-radius: 5px;
}
.uc-2{
  display: block;
  margin-bottom: 2px;
  background: #000000;
  height: 5px;
  width: 28px;
  border-radius: 5px;
}
.uc-3{
  display: block;
  background: #000000;
  height: 5px;
  width: 28px;
  border-radius: 5px;
}
.res-we-re-prom{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.res-we-re-prom img{
  height: 500px;
  width: 500px;
}
.res-we-re-prom div{
  font-family: 'Montserrat';
  font-size: 28px;
  font-weight: 800;
  margin: -40px;
}
.res-nav ul li a:hover,
.res-nav ul li a:focus,
#res-nav-res-mob ul li a:hover,
#res-nav-res-mob ul li a:focus{
  background: #bdbdbd;
}
.res-page-404-cont{
  font-family: 'Inter';
  display: flex;
  background: #cacaca;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: text;
}
.res-page-404-img{
  height: 50%;
  width: 50%;
}
.res-page-404-a{
  text-decoration: none;
  background: #1727ff;
  color: white;
  border-radius: 10px;
 padding: 10px;
 margin-top: 20px; 
}
.res-page-404-a:hover{
  background: #0011fc;
}
@keyframes loadSpinner{
  from{
    rotate: 0deg;
  }
  to{
    rotate: 360deg;
  }
}
@media only screen and (max-width: 850px) {
  .res-nav ul{
    display: none;
  }
  .res-nav-toggle-btn{
    visibility: visible;
  }
}
@media only screen and (max-width: 550px) {
  .res-we-re-prom{
    margin: 70px;
  }
  .res-we-re-prom img{
    height: 250px;
    width: 250px;
  }
  .res-we-re-prom div{
    margin-top: 40px;
  }
}