*{
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
    background: #151D21;
    user-select: none;
}
#nav #logo{
    color: white;
    font-family: 'Titillium Web', sans-serif;
    font-size: 30px;
    cursor: pointer;
    margin: 25px;
}
#nav a{
    color: white;
    text-decoration: none;
    margin: 40px;
    transition: 1s;
}
#nav #home{
    color: tomato;
}
#nav #about{
    color: tomato;
}
#nav #help{
    color: tomato;
}
#nav #download{
    color: tomato;
}
#title-about{
    position: absolute;
    top: 40%;
    left: 40%;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    color: white;
}
#nav a:hover{
    color: tomato;
}
@media screen and (max-width: 768px) {
    #title-about{
        left: 36%;
    }
}
@media screen and (max-width: 647px) {
    #title-about{
        left: 25%;
    }
    #nav a{
        margin: 20px;
    }
}
@media screen and (max-width: 414px) {
    #title-about{
        left: 25%;
    }
    #nav a{
        font-size: 12px;
        margin: 10px;
    }
}
@media screen and (max-width: 375px) {
    #title-about{
        left: 23%;
    }
}
@media screen and (max-width: 360px) {
    #title-about{
        left: 21%;
    }
    #nav a{
        font-size: 12px;
        margin: 8px;
    }
}